* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --color-primary: #DAFFFB;
  --color-secondary: #419197;
  --color-tertiary: #04364A;
}

body {
  height: 100vh;
  background: linear-gradient(
    120deg,
    var(--color-primary),
    var(--color-secondary)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 555px;
  background: transparent;
  border-radius: 25px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
}

.relogio div {
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: var(--color-tertiary);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  letter-spacing: 3px;
}

.relogio span {
  font-weight: bolder;
  font-size: 60px;
}

.relogio span.tempo {
  font-size: 10px;
}

.footer {
  position: relative;
  padding-top: 270px;
}

footer a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

@media (max-width: 768px) {
  .relogio {
    flex-direction: column;
    gap: 20px;
    height: 500px;
    width: 205px;
    padding: 20px;
    border-radius: 25px;
  }

  .footer {
    padding-top: 570px;
  }
}